h1{
    font-size: 3em;
}
input{
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    width: 100px;
}
body{
    background-color: #2d8659;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}
#wrapper{
    border-radius: 12px 12px;
    background-color: rgba(242, 242, 242,0.35);
    height: 100%;
}